<main class="container">  <!-- esto es por pico.  -->
    <!-- Título  -->
    <div class="row">
        <div class="col">   <!-- Quiero que estos textos se despliegue cuando el parámetro sides == 3, y que no se despliegue cuando sides != 3 --> 
            <h1>El Juego del Caos</h1>  <!-- El juego del caos y aplicaciones al ADN -->
        </div>

        <div class="col" *ngIf="inputNumber <= 3"> <!-- Esta info se despliega cuando sides <= 3 -->
            <p>Da click en cualquier parte del triángulo.</p>
        </div>

        <div class="col" *ngIf="inputNumber === 4"> <!-- Esta info se despliega cuando sides == 4 -->
            <p>Da click en cualquier parte del cuadrado.</p>
        </div>
        
        <div class="col" *ngIf="inputNumber >= 5"> <!-- Esta info se despliega cuando sides >= 5 -->
            <p>Da click en cualquier parte del polígono.</p>
        </div>
    </div>
        <!-- Contenido de la App -->
    <div class="grid">
        <div> <!-- Botones y parámetros -->
            <div class="grid">
                <button class="col" *ngIf="inputNumber <= 3">[info-s3]</button> <!-- Botón de información del juego del caos de 3 lados -->
                <button class="col" *ngIf="inputNumber === 4">[info-s4]</button> <!-- Botón de información del juego del caos de 4 lados -->
                <button class="col" *ngIf="inputNumber >= 5">[info-s5]</button> <!-- Botón de información del juego del caos más de 5 lados -->
                <button>[contr]</button> <!-- Botón de info de controles y parámetros -->
                <button>[next]</button><br> <!-- Botón que lleva al ADN porque los parámetros son diferentes -->
            </div>
            <input type="number" [(ngModel)]="inputNumber" (input)="checkNumber()" placeholder="Enter a number of sides" aria-label="Number" style="width: 5em;"><br> <!-- Input para el número de lados del polígono -->
            <p>Input Value: {{ inputNumber }}</p>
            <div class="grid">
                <button pButton label="chaos-unrest" (click)="isOn0= true; isOn1 = false; isOn2 = false; isOn3 = false; isOn4 = false">Ch-unrest</button> <!-- Botón que activa a la componente chaos-unrest -->
                <button pButton label="chaos-rest1" (click)="isOn0= false; isOn1 = true; isOn2 = false; isOn3 = false; isOn4 = false">Ch-rest1</button> <!-- Botón que activa a la componente chaos-rest1 -->
                <button pButton label="chaos-rest2" (click)="isOn0= false; isOn1 = false; isOn2 = true; isOn3 = false; isOn4 = false">Ch-rest2</button> <!-- Botón que activa a la componente chaos-rest2 -->
                <button pButton label="chaos-rest3" (click)="isOn0= false; isOn1 = false; isOn2 = false; isOn3 = true; isOn4 = false">Ch-rest3</button> <!-- Botón que activa a la componente chaos-rest3 -->
                <button pButton label="chaos-rest4" (click)="isOn0= false; isOn1 = false; isOn2 = false; isOn3 = false; isOn4 = true">Ch-rest4</button> <!-- Botón que activa a la componente chaos-rest4 -->

            </div>
        </div>

        <div>
            <app-chaos-unrest *ngIf="isOn0" [inputNumber]="inputNumber"></app-chaos-unrest> <!-- Aquí se despliega el canvas de la componente chaos-unrest -->
            <app-chaos-rest1 *ngIf="isOn1"></app-chaos-rest1> <!-- Aquí se despliega el canvas de la componente chaos-rest1 -->
            <app-chaos-rest2 *ngIf="isOn2"></app-chaos-rest2> <!-- Aquí se despliega el canvas de la componente chaos-rest2 -->
            <app-chaos-rest3 *ngIf="isOn3"></app-chaos-rest3> <!-- Aquí se despliega el canvas de la componente chaos-rest3 -->
            <app-chaos-rest4 *ngIf="isOn4"></app-chaos-rest4> <!-- Aquí se despliega el canvas de la componente chaos-rest4 -->
        </div>
    </div>

    <button (click)="NavigateToMain()"> Main </button>
    <button (click)="NavigateToChaos()"> Chaos </button>

    <router-outlet /> 
</main>